#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  /* background-image: url('../public/space-7826453_1920.jpg'); */
  background-size: cover; /* Ensures the image covers the entire background */
  background-position: center; /* Centers the image */
  color: #FFFFFF; /* Default text color */
  background-repeat: no-repeat;
}

.container1 {
  /* background-image: url('../public/space-7826453_1920.jpg'); Add your image URL here */
  background-size: cover;
  background-position: center;
  height: 400px; /* Adjust height as needed */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white; /* Text color */
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Adjust margin as needed */
}

button {
  margin: 0 10px; /* Adjust margin as needed */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
